<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <style>
        html {
            height: 100%;
        }
        body {
            height: 100%;
            margin: 0;
        }
        #chart-container {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div id="chart-container"></div>
    <script type="module" src="static/socket.io.min.js"></script>
    <script type="module" src="static/lightweight-charts.standalone.production.js"></script>
    <script type="module" src="static/app.js"></script>
</body>
</html>